*{
  font-family: Arial, Helvetica, sans-serif;
}

#calc-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#calc{
  display: flex;
  flex-direction: column;
}

#buttons{
  display: flex;
}

.button-column{
  display: flex;
  flex-direction: column;
}